body {
    color: oldlace;
    background: #a1a1a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.greetings, .form {
    display: none;
}

.showing {
    display: block;
}

.weather {
    font-size: 150%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    } to{
        opacity: 1;
    }
}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.section {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.items{
    width: 22%;
    margin: 0 5%;
}

.clock {
    font-size: 700%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    
}

.greeting {
    font-size: 180%;
    font-weight: bold;
    margin: 1% 0;
    
}

input {
    width: 92%;
    height: 25px;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(49, 49, 49);
    font-size: large;
    border-width: 0;
}

.getTimebox {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.getTimebox .js-year input {
    width: 46px;
}

.getTimebox input {
    width: 30px;
    font-size: 17px;
}


.title {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-shadow: -1px 0 rgb(63, 63, 63),
                    0 1px rgb(63, 63, 63),
                    1px 0 rgb(63, 63, 63),
                    0 -1px rgb(63, 63, 63);
}

ul {
    width: 96%;
    font-size: large;
    font-weight: bold;
    list-style: none;
    padding-left: 10px;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 12px 0;
    text-shadow: -1px 0 rgb(63, 63, 63),
                    0 1px rgb(63, 63, 63),
                    1px 0 rgb(63, 63, 63),
                    0 -1px rgb(63, 63, 63);
}

li span {
    display: flex;
    flex-flow: wrap;
}


button {
    color: white;
    background: none;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.daily li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 12px 0;

}

.doneBtn.check {
    background: white;
    color: rgb(65, 192, 65);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 2px;
}

.check {
    margin-right: 10px;
    height: 28px;
    width: 28px;
    border-radius: 100px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

ul.js-scheduleList li {
    display: flex;
    justify-content: space-between;
}

div.rights {
    display: flex;
}

.dueTime {
    margin-right: 10px;
}